@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  --link-color: #6f6f6f;
  --link-color-active: #b27fc0;
  --subheading-gray: #949494;
  --pink-light: #F0DAFF;
  scroll-behavior: smooth;
}

html{
  overflow-x: clip;
}

body{
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

.container{
  @apply lg:w-3/4 lg:px-0 md:w-full w-full px-4 mx-auto;
}

.shadow-custom{
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.1);
}

.shadow-custom-top{
  box-shadow: 0 -4px 6px 0 rgba(0,0,0,0.05);
}

.underlined{
  position: relative;
  overflow: visible;
}

.underlined::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0;
  bottom: -50%;
  background-image: url("~assets/line.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
}

.bg-pinkLight{
  background-color: rgba(246, 235, 255, 0.25);
}

.bg-pinkDark{
  background-color: #b27fc0;
}

.inline-link{
  text-decoration: underline;
}

ol.challenges li{
  counter-increment: challenges;
  @apply mb-6;
}

ol.challenges li:before{
  content: "#" counter(challenges) " ";
  font-weight: 500;
  @apply text-4xl italic font-serif;
}

.contact-btn{
  background-color: var(--pink-light);
  color: #a267b0;
  @apply py-2 px-4 rounded-full flex gap-2;
}

.contact-btn:hover{
  background-color: #bd9ad7;
  @apply text-white;
}

.contact-btn svg{
  @apply w-6 fill-white;
}
