@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cyrene";
  src: local("Cyrene"), url("~assets/fonts/Cyrene+Regular+Advanced.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: local("DM Sans"), url("~assets/fonts/DM_Sans/DMSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: local("DM Sans"), url("~assets/fonts/DM_Sans/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IndieFlower";
  src: local("IndieFlower"), url("~assets/fonts/IndieFlower-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("~assets/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("~assets/fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("~assets/fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

*{
  --link-color: #6f6f6f;
  --link-color-active: #b27fc0;
  --subheading-gray: #949494;
  --pink-light: #F0DAFF;
  scroll-behavior: smooth;
}

html{
  overflow-x: clip;
}

body{
  /*background-image: url("~assets/img/bg.png");*/
  font-family: 'Inter', sans-serif;
  font-weight: 100;
}

.display-font{
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
}

.container{
  @apply lg:w-3/4 lg:px-0 md:w-full w-full px-4 mx-auto;
}

h1{
  @apply text-3xl display-font mb-4;
}

h2{
  @apply text-2xl display-font my-2;
}

h3{
  @apply text-xl display-font my-2;
}

.shadow-custom{
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.1);
}

.underlined{
  position: relative;
  overflow: visible;
}

.underlined::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0;
  bottom: -10px;
  background-image: url("~assets/line.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.bg-pinkLight{
  background-color: rgba(246, 235, 255, 0.25);
}

.bg-pinkDark{
  background-color: #b27fc0;
}

.inline-link{
  text-decoration: underline;
}
