@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: local("Inter"),
  url("~assets/fonts/Inter-Regular.ttf") format("truetype");
}

*{
  --link-color: #6f6f6f;
  --link-color-active: #af53ff;
}

body{
  background-image: url("/img/bg.png");
  font-family: 'Inter', sans-serif;

}

.display-font{
  font-family: 'Syne', sans-serif;
  font-weight: 700;
}

.font-montserrat{
  font-family: 'Montserrat', serif;
}
