@font-face {
  font-family: "DM Sans";
  src: local("DM Sans"), url("~assets/fonts/DM_Sans/DMSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: local("DM Sans"), url("~assets/fonts/DM_Sans/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IndieFlower";
  src: local("IndieFlower"), url("~assets/fonts/IndieFlower-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PPMori";
  src: local("PPMori"), url("~assets/fonts/PPMori/PPMori-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PPMori";
  src: local("PPMori"), url("~assets/fonts/PPMori/PPMori-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("~assets/fonts/Inter-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("~assets/fonts/Inter-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("~assets/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("~assets/fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("~assets/fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inria Serif";
  src: local("Inria Serif"), url("~assets/fonts/Inria-Serif/InriaSerif-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inria Serif";
  src: local("Inria Serif"), url("~assets/fonts/Inria-Serif/InriaSerif-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inria Serif";
  src: local("Inria Serif"), url("~assets/fonts/Inria-Serif/InriaSerif-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Inria Serif";
  src: local("Inria Serif"), url("~assets/fonts/Inria-Serif/InriaSerif-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gonzaga";
  src: local("Gonzaga"), url("~assets/fonts/Gonzaga/Gonzaga-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Pacifico";
  src: local("Pacifico"), url("~assets/fonts/Pacifico/Pacifico-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GeistSans";
  src: local("GeistSans"), url("~assets/fonts/GeistSans/Geist[wght].ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

.display-font{
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
}


.display-font{
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
}



h2{
  font-family: "Inter", sans-serif;
  @apply text-xl my-2;
}

h3{
  font-family: "Inter", sans-serif;
  font-weight: 600;
  @apply my-2;
}

h1{
  font-family: "Inter", sans-serif;
  position: relative;
  font-weight: 600;
  @apply text-3xl my-6 text-gray-800 w-fit;
}

h1.section-title :before{
  position: absolute;
  display: block;
  right: -72px;
  bottom: 45%;
  height: 1px;
  width: 56px;
  content: "";
  @apply bg-black;
}

h1.section-title span{
  font-family: "Inria Serif", serif;
  font-style: italic;
  @apply text-3xl;
}

.landing-description{
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.landing-title{
  font-family: "GeistSans", sans-serif;
  font-variation-settings: 'wght' 700;
  @apply md:text-6xl text-4xl py-12;
}

.landing-title >.playful{
  font-family: 'Pacifico', sans-serif;
  background: -webkit-linear-gradient(#E2B6E9, #E9D8EC, #E2B6E9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @apply md:text-8xl text-6xl;
}

.font-inria{
  font-family: "Inria Serif", serif;
}



